# A. Excercise Week 2

# 1. Penerapan Metode Pada String, List, dan Dictionary

# String

 a) Menampilkan Kalimat Pada Tipe Data String (Print)

In [1]:
str1 = "Hello! I am a data analyst."
print(str1)

Hello! I am a data analyst.

b) Menampilkan Panjang Pada String (Len)

In [2]:
str1 = "Hello! I am a data analyst."
len(str1)

27

c) Mengakses Index Pada String (String Slices)

In [3]:
str1 = "Hello! I am a data analyst."
str1[5]

'!'

In [4]:
str1 = "Hello! I am a data analyst."
str1[0:3]

'Hel'

In [5]:
str1 = "Hello! I am a data analyst."
str1[15:]

'ata analyst.'

In [6]:
str1 = "Hello! I am a data analyst."
str1[:7]

'Hello! '

d) Mengubah Karakter Menjadi Karakter Lain Pada String (Replace)

In [7]:
str1 = "Hello! I am a data analyst."
str1.replace("analyst", "scientist")

'Hello! I am a data scientist.'

e) Mencari Suatu Karakter Pada String (Find)

In [8]:
str1 = "Hello! I am a data analyst."
str1.find("H")

0

f) Membagi Karakter Pada Data String Oleh Pemisah Yang Di Tentukan (Split)

In [9]:
str2 = "Langkah-Langkah Data Wrangling"
str2.split()

['Langkah-Langkah', 'Data', 'Wrangling']

g) Menggabungkan Karakter Pada String (Join)

In [10]:
str2 = "Langkah-Langkah", "Data", "Wrangling"
j = "-"
j.join(str2)

'Langkah-Langkah-Data-Wrangling'

h) Menampilkan Berapa Kali Karakter Muncul Pada String (Count)

In [11]:
str2 = "Langkah-Langkah Data Wrangling"
str2.count("Langkah")

2

i)	Mengubah Karakter Pertama Menjadi Huruf Besar Pada String (Capitalize)

In [12]:
str2 = "langkah-langkah data wrangling"
str2.capitalize()

'Langkah-langkah data wrangling'

j)	Mengubah Karakter Pertama Setiap Kata Menjadi Huruf Besar Pada String (Title)

In [13]:
str2 = "langkah-langkah data wrangling"
str2.title()

'Langkah-Langkah Data Wrangling'

k)	Mengubah Setiap Karakter Menjadi Huruf Besar Pada String (Upper)

In [14]:
str2 = "langkah-langkah data wrangling"
str2.upper()

'LANGKAH-LANGKAH DATA WRANGLING'

l)	Mengubah Karakter Menjadi Huruf Kecil Pada String (Lower)

In [15]:
str2 = "langkah-langkah data wrangling"
str2.lower()

'langkah-langkah data wrangling'

m)	Mengubah Setiap Karakter Huruf Besar Menjadi Huruf Kecil Dan Sebaliknya Pada String (Swapcase)

In [16]:
str2 = "Langkah-Langkah Data Wrangling"
str2.swapcase()

'lANGKAH-lANGKAH dATA wRANGLING'

n) Menghilangkan Spasi Pada String

In [17]:
str3 = "   Pengolahan Data Terstruktur   "
str3.strip()

'Pengolahan Data Terstruktur'

In [18]:
str3 = "   Pengolahan Data Terstruktur   "
str3.rstrip()

'   Pengolahan Data Terstruktur'

In [19]:
str3 = "Pengolahan Data Terstruktur   "
str3.lstrip()

'Pengolahan Data Terstruktur   '

o) Membandingkan Dua String

In [20]:
str4 = "Pengolahan Data Terstruktur"
str5 = "Pengolahan Data Tidak Struktur"
str6 = "Pengolahan Data Terstruktur"
(str4==str5)

False

In [21]:
str4 = "Pengolahan Data Terstruktur"
str5 = "Pengolahan Data Tidak Struktur"
str6 = "Pengolahan Data Terstruktur"
(str4==str6)

True

# List

a) Menampilkan List (Print)

In [22]:
list1 = [89, 90, 91, 92, 97, 98]
print(list1)

[89, 90, 91, 92, 97, 98]

b) Menampilkan Panjang Pada List (Len)

In [23]:
list1 = [89, 90, 91, 92, 97, 98]
len(list1)

6

c) Mengakses Index Pada List (List Slices)

In [24]:
list1 = [89, 90, 91, 92, 97, 98]
list1[0]

89

In [25]:
list1 = [89, 90, 91, 92, 97, 98]
list1[1:3]

[90, 91]

In [26]:
list1 = [89, 90, 91, 92, 97, 98]
list1[2:]

[91, 92, 97, 98]

In [27]:
list1 = [89, 90, 91, 92, 97, 98]
list1[:4]

[89, 90, 91, 92]

d) Menambahkan Suatu Nilai Pada List (Append)

In [28]:
list1 = [89, 90, 91, 92, 97, 98]
list1.append(99)
list1

[89, 90, 91, 92, 97, 98, 99]

e) Mengganti Suatu Nilai Pada List (Update)

In [29]:
list1 = [89, 90, 91, 92, 97, 98]
list1[1] = 85
list1

[89, 85, 91, 92, 97, 98]

f) Menyisipkan Suatu Nilai Di Index Tertentu Pada List (Insert)

In [30]:
list1 = [89, 90, 91, 92, 97, 98]
list1.insert(1, 95)
list1

[89, 95, 90, 91, 92, 97, 98]

g) Menghapus Suatu Nilai Di Index Tertentu Pada List (Pop)

In [31]:
list1 = [89, 90, 91, 92, 97, 98]
list1.pop(3)
list1

[89, 90, 91, 97, 98]

h) Melakukan Sorting Pada List (Sort)

In [32]:
list1 = [89, 90, 91, 92, 97, 98]
list1.sort()
list1

[89, 90, 91, 92, 97, 98]

i) Menampilkan Berapa Kali Suatu Nilai Muncul Pada List (Count)

In [33]:
list2 = [99, "Aya", 97, "Niona", 92, "Aya"]
list2.count("Aya")

2

j) Membalikkan Urutan Pada List (Reversed)

In [34]:
list3 = [99, 97, 96, 95, 94, 92, 91]
for n in reversed (list3):
    print(n)

91
92
94
95
96
97
99

# Dictionary

a) Menampilkan Dictionary (Print)

In [35]:
dic1 = {"A" : "85", "B" : "80", "C" : "75"}
dic1

{'A': '85', 'B': '80', 'C': '75'}

b) Menampilkan Panjang Pada Dictionary (Len)

In [36]:
dic1 = {"A" : "85", "B" : "80", "C" : "75"}
len(dic1)

3

c) Mengakses Index Pada Dictionary (Get)

In [37]:
dic1 = {"A" : "85", "B" : "80", "C" : "75"}
dic1.get("A")

'85'

d) Mengubah Suatu Nilai Dari Key Pada Dictionary (Get)

In [38]:
dic1 = {"A" : "85", "B" : "80", "C" : "75"}
dic1["C"] = "79"
dic1.get("C")

'79'

e) Menambahkan Item Pada Dictionary

In [39]:
dic1 = {"A" : "85", "B" : "80", "C" : "75"}
dic1["D"] = "70"
dic1

{'A': '85', 'B': '80', 'C': '75', 'D': '70'}

f) Menghapus Item Pada Dictionary (Delete)

In [40]:
dic2 = {"Nama" : "Lyodra", "Usia" : "19", "Asal" : "Sukabumi"}
del dic2["Nama"]
dic2

{'Usia': '19', 'Asal': 'Sukabumi'}

g) Menggunakan Perulangan Untuk Mencetak Dictionary (Loop For)

In [41]:
dic2 = {"Nama" : "Lyodra", "Usia" : "19", "Asal" : "Sukabumi"}

for n in dic2:
    print(dic2[n])

Lyodra
19
Sukabumi

# 2. Membuat List 100 Nomor Random

In [80]:
import random as rd

len_list = []
for n in range(10):
    number = []
    divide = []
    
    for k in range(100):
        random = rd.randint(1,100)
        number.append(random)
        if random % 3 == 0:
            divide.append(random)
            
    div_list = len(number) - len(divide)
    len_list.append(div_list)
        
average = sum(len_list) / len(len_list)

print("Di peroleh nilai - nilai dari selisih sebesar : ", (len_list))
print("Di peroleh nilai rata - rata sebesar          : ", (average))

Di peroleh nilai - nilai dari selisih sebesar :  [72, 64, 73, 70, 71, 66, 80, 69, 68, 69]
Di peroleh nilai rata - rata sebesar          :  70.2

# B. Excercise Week 3

# 1. Menampilkan Data Dari HTML ke Dataframe Sesuai Dengan Yang Di Inginkan

a) Membaca Dan Menampilkan HTML

In [1]:
import pandas as pd

data_html = "https://en.wikipedia.org/wiki/List_of_2022_American_television_debuts"
dfs = pd.read_html(data_html)
dfs

[               List of years in American television:
 0                 2019 2020 2021 2022 2023 2024 2025
 1            List of 2022 American television debuts
 2  2021–22 United States network television schedule
 3  2022–23 United States network television schedule
 4  List of American television programs currently...,
      First aired                    Title          Channel           Source
 0      January 1            We Baby Bears  Cartoon Network              [1]
 1      January 2         Alex vs. America     Food Network              [2]
 2      January 2          Next Level Chef              Fox              [3]
 3      January 3        The Cleaning Lady              Fox              [4]
 4      January 3  Ugliest Home in America             HGTV           [5][6]
 ..           ...                      ...              ...              ...
 301  December 15        Love for the Ages          Peacock            [340]
 302  December 15              Sonic Prime          Netflix  [344][339][345]
 303  December 16              The Recruit          Netflix            [346]
 304  December 18                     1923       Paramount+       [347][348]
 305  December 19                The Wheel              NBC       [349][350]

 [306 rows x 4 columns],
      First aired                                              Title  \
 0      January 4          Gordon Ramsay's Road Trip: Greek Vacation
 1     January 14                                          The House
 2     January 14                             Ray Donovan: The Movie
 3     January 27                  Truth and Lies: The Last Gangster
 4     January 29                  Undeniable: The Truth to Remember
 5     January 31     Celebrating Betty White: America's Golden Girl
 6       March 20                             An Audience with Adele
 7       March 20  Step Into...The Movies With Derek and Julianne...
 8        April 2                               Whitney, A Look Back
 9       April 15                               Bill Maher: Adulting
 10      April 18            Elinor Wonders Why: A Wonderful Journey
 11        May 25                       The American Rescue Dog Show
 12        May 25    The Great American Tag Sale with Martha Stewart
 13        June 1                      South Park The Streaming Wars
 14        June 7   TMZ Presents Johnny vs. Amber: From Love to Hate
 15       June 16                                Martin: The Reunion
 16       June 23               Beavis and Butt-Head Do the Universe
 17        July 3                        Ukraine: Answering The Call
 18       July 13               South Park The Streaming Wars Part 2
 19       July 15                                          Zombies 3
 20   September 5                                      Out of Office
 21   September 8           Queen Elizabeth II: The Legacy, The Life
 22  September 22       Norman Lear: 100 Years of Music and Laughter
 23  September 30                                      Entergalactic
 24     October 3  A Sinister Halloween Scary Opposites Solar Spe...
 25     October 6                            Monster High: The Movie
 26     October 7                                  Werewolf by Night
 27   November 17                                            Pickled
 28   November 18                                       Best in Snow
 29   November 18                          Blue's Big City Adventure
 30   November 20                             A Waltons Thanksgiving
 31   November 25        The Guardians of the Galaxy Holiday Special
 32   November 27                             Mickey Saves Christmas
 33   November 27             Tis the Season: The Holidays on Screen
 34   November 27  The Wonderful World of Disney: Magical Holiday...
 35   November 27      The Howard Stern Interview: Bruce Springsteen
 36   November 29                                   Reindeer in Here
 37   November 29  Love, Actually: 20 Years Later – A Diane Sawye...
 38    December 1            Dolly Parton's Mountain Magic Christmas
 39    December 1                      Sesame Street: The Nutcracker
 40    December 2      Pentatonix: Around the World for the Holidays
 41    December 2                       Christmas With the Campbells
 42    December 2  The Great American Baking Show: Celebrity Holiday
 43    December 2                             Hotel for the Holidays
 44    December 3                  Reno 911!: It's a Wonderful Heist
 45    December 4                                  Fit for Christmas
 46    December 5                                      That's My Jam
 47    December 6                    Sebastian Maniscalco: Is It Me?
 48    December 7         The Greatest Holiday Commercials Countdown
 49    December 8                              CMA Country Christmas
 50    December 8                           Superstar: Reba McEntire
 51    December 9                    All I Didn't Want For Christmas
 52   December 11                                Must Love Christmas
 53   December 11                                      The Fireplace
 54   December 15           Beauty and the Beast: A 30th Celebration
 55   December 18                           When Christmas Was Young
 56   December 20              Mariah Carey: Merry Christmas to All!
 57   December 26                        Woooooo! Becoming Ric Flair
 58   December 30                                   This Place Rules

                                        Channel      Source
 0                                          Fox       [351]
 1                                      Netflix  [352][353]
 2                                     Showtime  [354][355]
 3                                          ABC       [356]
 4                                          CBS       [357]
 5                                          NBC       [358]
 6                                          NBC       [359]
 7                                          ABC       [360]
 8                                          CBS       [361]
 9                                          HBO       [362]
 10                                    PBS Kids       [363]
 11                                         ABC       [364]
 12                                         ABC       [364]
 13                                  Paramount+       [365]
 14                                         Fox       [366]
 15                                        BET+  [367][368]
 16                                  Paramount+       [369]
 17                                         NBC       [370]
 18                                  Paramount+       [371]
 19                                     Disney+       [372]
 20                              Comedy Central  [373][374]
 21                                         ABC       [375]
 22                                         ABC       [376]
 23                                     Netflix  [377][378]
 24                                        Hulu       [379]
 25                      Nickelodeon/Paramount+       [289]
 26                      Disney+/Marvel Studios       [380]
 27                                         CBS       [381]
 28                                     Disney+  [382][383]
 29                                  Paramount+       [384]
 30                                      The CW  [385][386]
 31                      Disney+/Marvel Studios       [387]
 32  ABC/Disney Channel/Disney Junior/Disney XD       [388]
 33                                         CNN       [334]
 34                                         ABC       [334]
 35                                         HBO       [334]
 36                                         CBS       [389]
 37                                         ABC       [334]
 38                                         NBC  [390][391]
 39                                     HBO Max       [392]
 40                                     Disney+       [334]
 41                                        AMC+       [334]
 42                            The Roku Channel       [334]
 43                              Amazon Freevee       [334]
 44                              Comedy Central       [393]
 45                                         CBS       [394]
 46                                         NBC       [336]
 47                                     Netflix       [336]
 48                                      The CW       [336]
 49                                         ABC       [336]
 50                                         ABC       [336]
 51                                         VH1       [395]
 52                                         CBS       [394]
 53                                  Adult Swim       [396]
 54                                         ABC       [397]
 55                                         CBS       [394]
 56                                         CBS       [398]
 57                                     Peacock       [399]
 58                                         HBO       [400]  ,
     First aired                             Title                     Channel  \
 0     January 6             Women of the Movement                         ABC
 1     January 6                 Let the World See                         ABC
 2     January 6  Joe Montana: Cool Under Pressure                     Peacock
 3     January 6         Indivisible: Healing Hate                  Paramount+
 4     January 7                          El Deafo                   Apple TV+
 ..          ...                               ...                         ...
 57   December 4                    George & Tammy  Showtime/Paramount Network
 58   December 8                    Harry & Meghan                     Netflix
 59  December 22  The Best Man: The Final Chapters                     Peacock
 60  December 25         The Witcher: Blood Origin                     Netflix
 61  December 27       Chef Dynasty: House of Fang                Food Network

         Source
 0   [401][402]
 1        [403]
 2        [404]
 3        [405]
 4        [406]
 ..         ...
 57       [460]
 58       [461]
 59  [263][462]
 60  [463][464]
 61       [465]

 [62 rows x 4 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte2022 in television  \
 0  Albania Argentina Australia Belgium Brazil Can...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte2022 in television.1
 0  Albania Argentina Australia Belgium Brazil Can...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ]

b) Menampilkan Panjang HTML

In [2]:
print("Di peroleh panjang HTML :  ", (len(data_html)))

Di peroleh panjang HTML :   69

c) Menampilkan Tabel Miniseries

In [3]:
dfs[3]

,First aired,Title,Channel,Source
0,January 6,Women of the Movement,ABC,[401][402]
1,January 6,Let the World See,ABC,[403]
2,January 6,Joe Montana: Cool Under Pressure,Peacock,[404]
3,January 6,Indivisible: Healing Hate,Paramount+,[405]
4,January 7,El Deafo,Apple TV+,[406]
...,...,...,...,...
57,December 4,George & Tammy,Showtime/Paramount Network,[460]
58,December 8,Harry & Meghan,Netflix,[461]
59,December 22,The Best Man: The Final Chapters,Peacock,[263][462]
60,December 25,The Witcher: Blood Origin,Netflix,[463][464]
61,December 27,Chef Dynasty: House of Fang,Food Network,[465]

d) Menampilkan Ukuran Dataframe Tabel Miniseries

In [4]:
dfs[3].shape

(62, 4)

# 2. Menampilkan Data Tabel Dari PDF Ke Dataframe Sesuai Dengan Yang Di Inginkan

a) Membaca Dan Menampilkan PDF

In [1]:
import tabula as tb

data_pdf = "Housing_data.pdf"
dfs = tb.read_pdf(data_pdf, pages = "all")
dfs

[   0.17004  12.5  7.87  0  0.524  6.004  85.9  6.5921  5  311
 0  0.22489  12.5  7.87  0  0.524  6.377  94.3  6.3467  5  311
 1  0.11747  12.5  7.87  0  0.524  6.009  82.9  6.2267  5  311
 2  0.09378  12.5  7.87  0  0.524  5.889  39.0  5.4509  5  311,
    15.2  386.71   17.1  18.9
 0  15.2  392.52  20.45  15.0
 1  15.2  396.90  13.27  18.9
 2  15.2  390.50  15.71  21.7]

b) Menampilkan Tabel Indeks 0

In [2]:
dfs[0]

   0.17004  12.5  7.87  0  0.524  6.004  85.9  6.5921  5  311
0  0.22489  12.5  7.87  0  0.524  6.377  94.3  6.3467  5  311
1  0.11747  12.5  7.87  0  0.524  6.009  82.9  6.2267  5  311
2  0.09378  12.5  7.87  0  0.524  5.889  39.0  5.4509  5  311

c) Menampilkan Tabel Indeks 1

In [3]:
dfs[1]

   15.2  386.71   17.1  18.9
0  15.2  392.52  20.45  15.0
1  15.2  396.90  13.27  18.9
2  15.2  390.50  15.71  21.7